/*
Theme Name: ZA-Blog
Theme URI: https://blog.zacharyaustrager.com
Author: Z. Austrager
Author URI: 
Description: Child theme of Anders Noren's "Beaumont" model.
Requires at least: 6.9
Tested up to: 6.9
Requires PHP: 5.7
Version: 1.0.05
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: beaumont
Text Domain: za-blog
Tags: 
*/

